[package]
name = "trokk"
version = "0.0.0"
description = "A Tauri App"
authors = ["Team Tekst"]
license = ""
repository = ""
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "2.4.1", features = [] }

[dependencies]
tauri = { version = "2.8.5", features = ["protocol-asset", "test", "tray-icon", "devtools"] }
tauri-plugin-store = "2.4.0"
tauri-plugin-fs = { version = "2.4.2", features = ["watch"] }
tauri-plugin-oauth = "2.0.0"
tauri-plugin-http = "2.5.2"
sentry = "0.43.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
gethostname = "1.0.2"
url = "2.5.7"
reqwest = "0.12.23"
once_cell = "1.21.3"
image = "0.25.8"
webp = "0.3.1"
thiserror = "2.0.17"
vaultrs = "0.7.4"
vaultrs-login = "0.2.3"
tokio = { version = "1.47.1", features = ["full"] }
aws-config = "1.5.3"
aws-credential-types = { version = "1.2.0", features = ["hardcoded-credentials"] }
aws-types = { version = "1.3.2" }
aws-sdk-dynamodb = "1.36.0"
aws-sdk-s3 = { version = "1.4.0", features = ["rt-tokio", "behavior-version-latest"] }
log = "0.4.28"
tauri-plugin-dialog = "2.4.0"
tauri-plugin-process = "2.3.0"
winnow = "0.7.13"
anyhow = "1.0.100"

[dev-dependencies]
tempfile = "3.10.1"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
debug-mock = []
custom-protocol = ["tauri/custom-protocol"]

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "lib"]

[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
# tauri-plugin-single-instance = "2" disabled due to login windown not opening on windows
#  "rlib",
