.borderBox {
    box-sizing: border-box;
}
.thumbnail-border {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.thumbnail-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}
