html {
    font-size: 100%; /* This will be overridden by the settings context */
}

html, body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #f6f6f6;
    background-color: #2f2f2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

button:active {
    border-color: #396cd8;
    background-color: #0f0f0f69;
}

a:hover {
    color: #24c8db;
}

.errorColor {
    background-color: #aa0000;
    color: white;
}
