on: pull_request

name: Rust code check

jobs:
  code-check-rust:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - [ self-hosted-linux ]
          - [ self-hosted, Windows ]
        include:
          - platform: [ self-hosted-linux ]
            linux: true
          - platform: [ self-hosted, Windows ]
            windows: true
            linux: false
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        working-directory: ./src-tauri
    env:
      VAULT_BASE_URL: "placeholder"
      VAULT_ROLE_ID: "placeholder"
      VAULT_SECRET_ID: "placeholder"
      VAULT_ENVIRONMENT: "placeholder"
      VITE_SENTRY_ENVIRONMENT: "placeholder"
      VITE_SENTRY_DSN: "placeholder"
      RUST_SENTRY_ENVIRONMENT: "placeholder"
      RUST_SENTRY_DSN: "placeholder"
    steps:
      # Git fix for Windows, workaround for permission issues regarding self-hosted runners
      - name: Windows; Git fix
        if: ${{ matrix.windows }}
        run: |
          git config --global --add safe.directory C:/Users/lanman/actions-runner/_work/trokk/trokk
      - uses: actions/checkout@v4

      - name: Windows; install Cmake dependency
        if: ${{ matrix.windows }}
        shell: powershell
        run: |
          $v = '3.29.9'
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          $url = "https://github.com/Kitware/CMake/releases/download/v$v/cmake-$v-windows-x86_64.zip"
          $zip = "$env:RUNNER_TEMP\cmake-$v.zip"
          $destRoot = "$env:RUNNER_TEMP\cmake"
          
          if (Test-Path $destRoot) { Remove-Item $destRoot -Recurse -Force }
          New-Item -ItemType Directory -Path $destRoot | Out-Null
          
          Invoke-WebRequest $url -OutFile $zip
          # Works in Windows PowerShell 5.1 as long as the file has .zip extension
          Expand-Archive -LiteralPath $zip -DestinationPath $destRoot -Force
          
          $extractDir = Get-ChildItem $destRoot -Directory | Select-Object -First 1
          $bin = Join-Path $extractDir.FullName 'bin'
          $bin | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Windows; cmake version
        if: ${{ matrix.windows }}
        run: cmake --version
        shell: powershell
      - name: Install dependencies (ubuntu only)
        if: ${{ matrix.linux }}
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libwebkit2gtk-4.1-dev \
                                    build-essential \
                                    curl \
                                    wget \
                                    file \
                                    libxdo-dev \
                                    libssl-dev \
                                    libayatana-appindicator3-dev \
                                    librsvg2-dev
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Run rustfmt
        if: always()
        run: cargo fmt --all -- --check
      - name: Run clippy
        if: always()
        run: cargo clippy --all -- -D warnings
      - name: Run tests
        if: always()
        run: cargo test --all
